* {
}

.box{
  display: inline-block;
  text-align: center;
  margin-left: 30%;
  margin-bottom: 3%;
  padding-bottom: 2%;
  width: 40%;
  height:auto;
}

.bigtext{
  font-size: 40px;
  padding: 5px;
  outline: 2px black solid;
}
