<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Add A Dragon</title>
  </head>
  <body>
    <h1><b><u>Add A New Dragon:</b></u></h1>
    <br>
    <form action='/dragons' method='post'>
      Name: <input type='text' name='name'><br><br>
      Age: <input type='number' name='age'><br><br>
      <input type='submit' value='Add This Dragon!'>
    </form><br>
    <button type="button" onclick="location.href='/';">Go Back To The Roost!</button>
  </body>
</html>
