<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Dragons!</title>
  </head>
  <body>
    <h1>Welcome To Your Dragon Roost!</h1>
    <!-- Div for errors. -->
    <div>
      <% if (!(typeof errors == 'undefined')) { %>
          <% for (i in errors) { %>
            <h4> <%= errors[i].message %> <h4>
          <% } %>
      <% } %>
    </div>
    <button type="button" onclick="location.href='/dragons/new';">Add A New Dragon!</button>
    <br><br>
    <% if(dragons.length > 0){%>
      <h2>Your Roost Thus Far:</h2>
    <% } else{ %>
      <h2>Your Roost Is Empty!</h2>
      <p>Add a new dragon by clicking the button above.</p>
    <% } %>
    <ul>
      <% for (i=0; i<dragons.length; i++) { %>
        <h3> <a href="/dragons/<%= dragons[i].id%>"><%= dragons[i].name %></a></h3>
      <% } %>
    </ul>
  </body>
</html>
