
<!-- SUPER OLD CODE -->
<!-- <div class="text-center">
  <div class="relative">
    <h1 class="absolute-header text-center">Matthew Felton</h1>
    <p class="lead absolute-text text-center">Photography — Art — Music — Software</p>
    <img src="/assets/test_photo_matthew.jpg" alt="Main Photo" height="100%" width="100%">
  </div>
  <div>
    <a class="btn btn-primary" [routerLink]="['/register']">Register</a> <a class="spacer btn btn-default" [routerLink]="['/login']">Login</a>
  </div>
</div> -->

<!-- CAROUSEL CODE -->
<!-- <div id="myCarousel" class="carousel slide carousel-fade" data-interval="false">
  <div class="absolute-box">
    <h1 class="absolute-header absolute-title text-center">Matthew Felton</h1>
    <p class="lead absolute-text absolute-title text-center"><span id="00">Photography</span> — <span id="01">Art</span> — <span id="02">Music</span> — <span id="03">Software</span></p>
    <!-- <div class="text-center">
      <a class="btn-custom" [routerLink]="['/register']">Enter</a>
    </div>
  </div>
    <!-- Indicators
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>

    <!-- Wrapper for slides
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <img src="/assets/test_photo_matthew.jpg" alt="Main Photo">
        <div class="carousel-caption">
          <a class="btn-custom" [routerLink]="['/photography']">View More</a>
          <!-- <h3 class="absolute-title">Ballet Dancer</h3>
          <!-- <p class="absolute-title">September 2009</p>
        </div>
      </div>

      <div class="item">
        <img src="/assets/test_photo_matthew.jpg" alt="Main Photo">
        <div class="carousel-caption">
          <a class="btn-custom" [routerLink]="['/art']">View More</a>
          <!-- <h3 class="absolute-title">Ballet Dancer</h3>
          <!-- <p class="absolute-title">September 2009</p>
        </div>
      </div>

      <div class="item">
        <img src="/assets/test_photo_matthew.jpg" alt="Main Photo">
        <div class="carousel-caption">
          <a class="btn-custom" [routerLink]="['/music']">View More</a>
          <!-- <h3 class="absolute-title">Ballet Dancer</h3>
          <!-- <p class="absolute-title">September 2009</p>
        </div>
      </div>

      <div class="item">
        <img src="/assets/test_photo_matthew.jpg" alt="Main Photo">
        <div class="carousel-caption">
          <a class="btn-custom" [routerLink]="['/software']">View More</a>
          <!-- <h3 class="absolute-title">Ballet Dancer</h3>
          <!-- <p class="absolute-title">September 2009</p>
        </div>
      </div>
    </div>

    <!-- Left and right controls
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div> -->
<div class="custom-background">
  <div class="parallax-title">
    <div class="absolute-box">
      <h1 class="absolute-header absolute-title text-center">Matthew Felton</h1>
      <p class="lead absolute-text absolute-title text-center">Photography — Art — Music — Software</p>
      <!-- <div class="text-center">
        <a class="btn-custom" [routerLink]="['/photography']">Enter</a>
      </div> -->
    </div>
  </div>
  <div class="overlap-spacer"></div>
  <div class="parallax-photo" [routerLink]="['/photography']">
    <div class="container">
      <h2 class="overlap-title">Photography</h2>
      <div class="overlap-button">
        <a class="btn-custom" [routerLink]="['/photography']">See More</a>
      </div>
    </div>
  </div>
  <div class="overlap-spacer"></div>
  <div class="parallax-art" [routerLink]="['/art']">
    <div class="container">
      <h2 class="overlap-title">Art</h2>
      <div class="overlap-button">
        <a class="btn-custom" [routerLink]="['/art']">See More</a>
      </div>
    </div>
  </div>
  <div class="overlap-spacer"></div>
  <div class="parallax-music" [routerLink]="['/music']">
    <div class="container">
      <h2 class="overlap-title">Music</h2>
      <div class="overlap-button">
        <a class="btn-custom" [routerLink]="['/music']">See More</a>
      </div>
    </div>
  </div>
  <div class="overlap-spacer"></div>
  <div class="parallax-software" [routerLink]="['/software']">
    <div class="container">
      <h2 class="overlap-title">Software</h2>
      <div class="overlap-button">
        <a class="btn-custom" [routerLink]="['/software']">See More</a>
      </div>
    </div>
  </div>
</div>
