<!DOCTYPE html>
<html>
    <head>
      <meta charset="utf-8">
      <title>Ninja Gold</title>
      {% load staticfiles %}
      <!-- The line above tells Django to be ready to listen for static files -->
      <link rel="stylesheet" href="{% static 'gold/css/main.css' %}"media="screen" title="no title"  charset="utf-8">
    </head>
    <body>
      Your gold: <a id="myGold">{{request.session.gold}}</a>

      <div class="buildingbox">
        <h1>Farm</h1>
        <h4>(earns 10-20 golds)</h4>
        <form action='/process_money/farm' method='post'>
          {% csrf_token %}
          <input type="submit" value="Find Gold!"></input>
        </form>
      </div>
      <div class="buildingbox">
        <h1>Cave</h1>
        <h4>(earns 5-10 golds)</h4>
        <form action='/process_money/cave' method='post'>
          {% csrf_token %}
          <input type="submit" value="Find Gold!"></input>
        </form>
      </div>
      <div class="buildingbox">
        <h1>House</h1>
        <h4>(earns 2-5 golds)</h4>
        <form action='/process_money/house' method='post'>
          {% csrf_token %}
          <input type="submit" value="Find Gold!"></input>
        </form>
      </div>
      <div class="buildingbox">
        <h1>Casino</h1>
        <h4>(earns/takes 0-50 golds)</h4>
        <form action='/process_money/casino' method='post'>
          {% csrf_token %}
          <input type="submit" value="Find Gold!"></input>
        </form>
      </div>
      <p>Activities:</p>
      <div id="activitiesbox">
        {% for message in request.session.activities %}
        {% if message == "red" %}
        <p class = "red">
        {% elif message == "green" %}
        <p class = "green">
        {% else %}
          {{message}}</p>
        {% endif %}
        {% endfor %}
      </div>
      <form action='/reset' method='post'>
        {% csrf_token %}
        <input id="reset" type="submit" value="Reset"></input>
      </form>

      <!-- Script that forces activities scrollbox to bottom of scroll box -->
      <script type="text/javascript">
      document.getElementById("activitiesbox").scrollTop = 1000000;
      </script>


    </body>
</html>
