<div class="custom-background">
  <div class="container liner">
    <h1 class="header-text">Music</h1>
  </div>
  <div class="container">
    <h2 class="text-center">Piano Solo CDs</h2>
    <div class="col-xs-12 col-sm-6">
        <h2 class="text-center">Impression</h2>
        <a class="cd-cover" href="https://store.cdbaby.com/cd/felton" target="_blank"><img class="cd-cover" src="/assets/impression-cover.jpg" alt="Impression CD Cover"></a>
        <div class="btn-download1">
          <a class="btn-custom" href="https://store.cdbaby.com/cd/felton" target="_blank">Purchase "Impression"</a>
        </div>
        <div class="btn-download2">
          <a class="btn-custom" href="https://itunes.apple.com/us/album/impression/id5980810" target="_blank">Purchase on iTunes</a>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6">
        <h2 class="text-center">Reflection</h2>
        <a class="cd-cover" href="https://store.cdbaby.com/cd/felton2" target="_blank"><img class="cd-cover" src="/assets/reflection-cover.jpg" alt="Reflection CD Cover"></a>
        <div class="btn-download1">
          <a class="btn-custom" href="https://store.cdbaby.com/cd/felton2" target="_blank">Purchase "Reflection"</a>
        </div>
        <div class="btn-download2">
          <a class="btn-custom" href="https://itunes.apple.com/us/album/reflection/id5980868" target="_blank">Purchase on iTunes</a>
        </div>
    </div>
  </div>
</div>
