

.mainbox {
    display: inline-block;
    border: 1px solid black;
    border-radius: 2px;
    background: lightgrey;
    width: 87%;
    height: auto;
    margin-left: 5%;
    padding: 2%;
    padding-top: 0px;
    margin-top: 10px;
}

#textarea{
    max-width: 75%;
    max-height: 20%;
}