.my-drop-zone{
  border: dotted 3px lightgray;
  padding: 70px 0px 70px 0px;
}
.nv-file-over{
  border: dotted 3px red;
} /* Default class applied to drop zones on over */

.imgThumbnail{
    padding: 4px;
}


.header-text{
  font-size: 3em;
  margin-top: 15px;
  margin-bottom: 15px;
}

.liner{
  margin-top: 0px;
  border-bottom: 1px solid rgba(220,220,220,0.5);
}

.bottom-spacer{
  margin-bottom: 50px;
}

.form_line{
  margin-bottom: 15px;
}
