div{
  border: black 2px solid;
  padding: 5px;
  margin: 5px;
}

input{
  display: block;
  margin-bottom: 7px;
  padding: 3px;
}

textarea{
  display: block;
  width: 178px;
  max-width: 300px;
  max-height: 100px;
  margin-bottom: 10px;
}
