/*CSS reset settings here*/
*{
 margin: 0px;
 padding: 0px;
 font-size: 14px;
 color:rgb(255, 255, 255);
}

#wrapper {
  width: 850px;
  height: 710px;
  background-color: rgb(47, 82, 145);
  display:inline-block;
}

#imageheader {

}

#textsizeheader {

}

#searchbar {

}

#realheader {

}

#betweenheaderwhite {

}

.uppercontainer {

}

.whitelink {

}

#whitetext {

}

#yellowquotetext {

}

#zenpython {

}

#whiteline {

}

.whitelinetext {

}

.lineandheader {

}

.textblock {

}

.textblocklist {

}

#footer {

}

.footerlink {

}

#copycorrect {

}
