<div class="jumbotron text-center">
  <h1>Your Baseline App!</h1>
  <p class="lead">This is your baseline app. Please edit this so it makes sense for future projects.</p>
  <div>
    <a class="btn btn-primary" [routerLink]="['/register']">Register</a> <a class="spacer btn btn-default" [routerLink]="['/login']">Login</a>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <h3>An Awesome App.</h3>
    <p>Seriously. It's way more radical than you might expect. There's some gnarly button action within, boss man.</p>
  </div>
  <div class="col-md-4">
    <h3>Seriously Cool.</h3>
    <p>Honestly, you may have to register or login to check it out. It's the only way to know if you're in with all the cool kids.</p>
  </div>
  <div class="col-md-4">
    <h3>Go For It!</h3>
    <p>Please login. It'll make me feel like there was a point in making such an elaborate login page.</p>
  </div>
</div>
