# spare backups, demo projects, & duplicates
/matt_felton
/matt_felton_backup
/matt_felton_superbackup4
/matt_felton_superbackup5
/matt_felton_superbackup6
/matt_felton_superbackup7
/dirtybomb_timer
/word_game
/derby_demo
/derby-example-hello
/heroku
/rats_demo

# Some of these files are ignored because they are backups.
# Others are demo projects from the web that I wanted to take a look at.
# Others are uploaded in other repositories on my github, and therefore would be duplicates.
# Regardless, they are removed in order to take up less space.
