<div class="container bottom-spacer">
  	<h1>Upload An Image</h1>
    <div id="direct_upload" *ngIf="uploader.queue.length == 0" ng2FileDrop [uploader]="uploader" (fileOver)="fileOverBase($event)" [ngClass]="{'nv-file-over': hasBaseDropZoneOver}" class="my-drop-zone text-center">Drop an image here.</div>
    <div class="" *ngFor="let item of uploader.queue">
      <h3>Edit Information For {{ item?.file?.name }}:</h3>
    </div>
    <form *ngFor="let item of uploader.queue">
  		<div class="form_line">
  			<label path="title">Title:</label>
  			<div class="form_controls">
  				<input type="text" class="form-control" #title placeholder="Untitled" (keyup.enter)="updateTitle(title.value)" (blur)="updateTitle(title.value)"
  				/>
  			</div>
  		</div>
      <div class="form_line">
  			<label path="caption">Caption:</label>
  			<div class="form_controls">
  				<input type="text" class="form-control" #caption placeholder="My untitled work." (keyup.enter)="updateCaption(caption.value)" (blur)="updateCaption(caption.value)"
  				/>
  			</div>
  		</div>
      <div class="form_line">
  			<label path="gallery">Gallery:</label>
  			<div class="form_controls">
  				<input type="text" class="form-control" #gallery placeholder="Default Gallery" (keyup.enter)="updateGallery(gallery.value)" (blur)="updateGallery(gallery.value)"
  				/>
  			</div>
  		</div>
      <div class="form_line">
  			<label path="page">Page:</label>
  			<div class="form_controls">
  				<input type="radio" name="page" value="Photo" checked (keyup.enter)="updatePage('photo')" (blur)="updatePage('photo')"/>Photo
          <input type="radio" name="page" value="Art" (keydown.enter)="updatePage('art')" (blur)="updatePage('art')"/>Art
  			</div>
  		</div>
      <button type="button" class="btn btn-success btn-xs"
          (click)="item.upload()"
          [disabled]="item.isReady || item.isUploading || item.isSuccess">
          <span class="glyphicon glyphicon-upload"></span> Upload
      </button>
  	</form>
  	<div class="file" *ngFor="let response of responses; let i = index">
  		<h3>{{response.file.name}}</h3>
      <button class="delete-image" *ngIf="!!response.data.delete_token" (click)="deleteImage(response.data, i)">Delete image</button>
  		<div class="status">
        Uploading... {{response.progress}}%
  			<div *ngIf="!response.status">In progress...</div>
  			<div class="status-code" *ngIf="response.status">Uploading complete!
        <div *ngFor="let property of getFileProperties(response.data)">
          <div *ngIf="property.key == 'context'">
              <b>{{property.value.custom.name | json}} ({{response.file.name}})</b> was uploaded successfully!
          </div>
        </div>
        </div>
        <!-- <div class="status-code" *ngIf="response.status">Upload completed with status code {{response.status}}</div> -->
  		</div>
  		<!-- <div class="progress-bar">
  			<div class="progress" role="progressbar" [style.width.%]="response.progress"></div>
  		</div> -->
  		<div class="form_line">
  			<div class="form_controls">
  				<div class="preview">
  					<!-- Consider using https://github.com/valor-software/ng2-file-upload/issues/461 for image preview -->
  				</div>
  			</div>
  		</div>
  		<!-- <div class="info">
  			<table>
  				<tr *ngFor="let property of getFileProperties(response.data)">
  					<td> {{ property.key }} </td>
  					<td> {{ property.value | json}} </td>
  				</tr>
  			</table>
  		</div> -->
  	</div>
</div>
