
<!DOCTYPE html>
<html>
    <head>
        @{
            ViewData["Title"] = "Register";
        }
        <meta charset='utf-8'>
        <!-- In this context '~' refers to the wwwroot folder-->
        <link rel="stylesheet" href="~/css/style.css"/>
    </head>
    <body>
        <div class="mainbody">
            <h1>Login</h1>
            <form action="/Login" method="POST">
                <br><label for="EmailAddress">Email Address: </label>
                <input type="email" name="EmailAddress" value=@ViewBag.values[0]>
                <br><label class="sameline" for="Password">Password: </label>
                <input class="sameline" type="password" name="Password" value=@ViewBag.values[1]>
                <a href="/">Need to Register?</a><br>
                <input class="alignbutton" type="submit" value="Submit">
            </form><br>
            @{
                foreach(var error in ViewBag.errors)
                {
                //If there are any errors for a field...
                if(@error.Errors.Count > 0)
                    {
                        <p class="red align_center"><b>@error.Errors[0].ErrorMessage</b></p>
                    }
                }
                if(@ViewBag.values[2] != ""){
                    <p class="red align_center"><b>@ViewBag.values[2]</b></p>
                }
            }
        </div>
    </body>
</html>