
<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        @{
            ViewData["Title"] = "Register";
        }
        <link rel="stylesheet" href="~/css/site.css"/>
    </head>
    <body>
        <div class="mainbody">
            <h1>Successfully Registered!</h1><br>
            <h3>Congratulations!</h3><br><br>
            <form action="/">
                <input type="submit" value="Add another user">
            </form>
        </div>

    </body>
</html>
