* {
  font-size: 20px;
}

.box{
  text-align: center;
  margin-left: 30%;
  margin-bottom: 3%;
  padding-top: 5px;
  padding-bottom: 2%;
  width: 40%;
  height:auto;
  border: 1px solid black;
}

.bigtext{
  font-size: 40px;
}
