<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>Homepage | Admiral Ackbar's Star Station</title>
         <!--In this context '~' refers to the wwwroot folder-->
        <link rel="stylesheet" href="~/css/style.css"/>
    </head>
    <body>
        <div class="navbar">
            <a class="navitem" href="/">Home</a>
            <a class="navspacer"></a>
            <a class="navitem" href="/projects">Projects</a>
            <a class="navspacer"></a>
            <a class="navitem" href="/contact">Contact</a>
        </div>
        <div class="mainbody">
            <h1>Admiral Ackbar's Star Station</h1>
            <h2>About Me</h2>
            <img id="myimg" src="~/images/admiral.jpg" alt="Admiral Ackbar">
            <h3>My name is Admiral Ackbar.</h3>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;I am a veteran male Mon Calamari soldier and revolutionary leader who fought during the Clone Wars, the Galactic Civil War, and the conflict between the Resistance and the First Order. Throughout my sixty years of service, I have been regarded as a brilliant tactician. I was the captain of the Mon Calamari Guard during the Clone Wars and fought in the Battle of Mon Cala, in which I helped to secure Prince Lee-Char's ascent as King of Mon Cala and repel the Confederacy of Independent Systems. After the rise of the Galactic Empire, I became the foremost military commander in the Alliance to Restore the Republic, and I emerged as a symbol of defiance against the Empire's subjugation of non-humans. My presence attracted Mon Calamari support for the Alliance, thus supplying the Mon Calamari star cruisers that made up a bulk of the Alliance Fleet. I am proud of my commitment to good, and will continue to fight evil for years to come.</p>
        </div>
    </body>
</html>
