<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>Projects | Admiral Ackbar's Star Station</title>
         <!--In this context '~' refers to the wwwroot folder-->
        <link rel="stylesheet" href="~/css/style.css"/>
    </head>
    <body>
        <div class="navbar">
            <a class="navitem" href="/">Home</a>
            <a class="navspacer"></a>
            <a class="navitem" href="/projects">Projects</a>
            <a class="navspacer"></a>
            <a class="navitem" href="/contact">Contact</a>
        </div>
        <div class="mainbody">
            <h1>Admiral Ackbar's Star Station</h1>
            <h2>Projects</h2>
            <img class="imgs" src="~/images/theclonewars.jpg" alt="The Clone Wars">
            <h3>The Clone Wars</h3>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;I was the Captain of the Mon Calamari Guard during The Clone Wars. I contributed greatly during the clone wars, including battling in the Civil War on Mon Cala. Without my help, the war could have been lost.</p>
            <img class="imgs" src="~/images/galacticwar.jpg" alt="The Galactic Civil War">
            <h3>The Galactic Civil War</h3>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;I was among the Rebel leaders tasked with getting the fleet together on Yavin 4 in order to evacuate. I became an Admiral and was a commander during the Battle of Endor. I effectively helped destroy the second death star.</p>
            <img class="imgs" src="~/images/resistance.jpeg" alt="The Resistance">
            <h3>The Resistance Versus The First Order</h3>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;I came out of retirement to join the Resistance. I was captured by the First Order, but was luckily rescued by the Resistance before my potential execution. I was stationed with Leia during the Assault of Starkiller Base, and was present when BB-8 and R2-D2 revealed the location of Jedi Master Luke Skywalker.</p>
        </div>
    </body>
</html>
