
<!DOCTYPE html>
<html>
    <head>
        @{
            ViewData["Title"] = "Orders";
        }
        <meta charset='utf-8'>
        <!-- In this context '~' refers to the wwwroot folder-->
        <link rel="stylesheet" href="~/css/style.css"/>
    </head>
    <body>
        <div class="mainbody">
            <div>
            <a href="/">Dashboard</a>
            <a class="vert_line"></a>
            <a href="/products">Products</a>
            <a class="vert_line"></a>
            <p class="sameline">Orders</p>
            <a class="vert_line"></a>
            <a href="/customers">Customers</a>
            <a class="vert_line"></a>
            <a href="/settings">Settings</a>
            </div><br>
        </div>
    </body>
</html>