<div class="custom-background">
  <div class="container liner">
    <h1 class="header-text">Photography</h1>
  </div>
  <!-- <div class="container carousel-liner">
    <div id="myCarousel" class="carousel slide carousel-fade" data-interval="false">
      <!-- Indicators


      <!-- Wrapper for slides

      <div *ngFor="let photo of photos | async; let i = index" class="carousel-inner" role="listbox" >
        <div>
          <!-- For first slide, make it active
          <div *ngIf="i == 0">
            <div class="item active">
              <cl-image public-id={{photo.public_id}} class="imgThumbnail"
              > <cl-transformation height="400" crop="fill"
              ></cl-transformation> </cl-image>
              <div class="carousel-caption">
                <h3 class="absolute-title" *ngIf="photo.context">{{photo.context.custom.name}}</h3>
                <p class="absolute-title" *ngIf="photo.context">{{photo.context.custom.caption}}</p>
              </div>
            </div>
          </div>
          <!-- Rest of slides not active
          <div *ngIf="i > 0">
            <div class="item">
              <cl-image public-id={{photo.public_id}} class="imgThumbnail"
              > <cl-transformation height="400" crop="fill"
              ></cl-transformation> </cl-image>
              <div class="carousel-caption">
                <h3 class="absolute-title" *ngIf="photo.context">{{photo.context.custom.name}}</h3>
                <p class="absolute-title" *ngIf="photo.context">{{photo.context.custom.caption}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Left and right controls
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div> -->

  <div class="container">
      <div class="screen">
        <!-- Have navigation arrows, style borrowed from carousel. -->
        <a class="left carousel-control mouse-pointer arrows"
        (click)="updateLeft()">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        </a>
        <a class="right carousel-control mouse-pointer arrows"
        (click)="updateRight()">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        </a>
      <!-- Make active image clickable / mouse over for more info. -->
      <div class="col-xs-12 mouse-pointer" (mouseenter)="activeImage.isMouseOver = true"
      (mouseleave)="activeImage.isMouseOver = false"
      (click)="activeImage.isMouseOver = !activeImage.isMouseOver">
      <!-- Make sure an active image exists before doing anything with it. -->
        <div *ngIf="activeImage">
          <div *ngIf="activeImage.context.custom.name">
            <h3 unselectable="on" class="activeImageName noSelect" *ngIf="activeImage.isMouseOver">{{activeImage.context.custom.name}}</h3>
          </div>

          <!-- Desktop active image. 2 imgs. Mouse over or not = image blur or not. -->
          <div unselectable="on" class="hidden-xs noSelect">
            <cl-image *ngIf="!activeImage.isMouseOver" [public-id]="activeImage.public_id" class="imgThumbnail"
            > <cl-transformation height="400" crop="limit"
            ></cl-transformation> </cl-image>
        		<cl-image *ngIf="activeImage.isMouseOver" [public-id]="activeImage.public_id" class="imgThumbnailBlur"
            > <cl-transformation height="400" crop="limit"
      			></cl-transformation> </cl-image>
          </div>

          <!-- Mobile active image. 2 imgs. Mouse over or not = image blur or not. -->
          <div unselectable="on" class="visible-xs-inline-block noSelect">
            <cl-image *ngIf="!activeImage.isMouseOver" [public-id]="activeImage.public_id" class="imgThumbnail"
            > <cl-transformation width="360" height="400" crop="limit"
            ></cl-transformation> </cl-image>
        		<cl-image *ngIf="activeImage.isMouseOver" [public-id]="activeImage.public_id" class="imgThumbnailBlur"
            > <cl-transformation width="360" height="400" crop="limit"
      			></cl-transformation> </cl-image>
          </div>

            <div *ngIf="activeImage.context.custom.caption">
              <p unselectable="on" class="activeImageCaption noSelect" *ngIf="activeImage.isMouseOver">{{activeImage.context.custom.caption}}</p>
            </div>
        </div>
    	</div>
    </div>
  </div>

  <div class="container bottom-space">
        <p *ngIf="errorOccurred">No photos have been added yet.</p>
        <p *ngIf="photos.length === 0 | async">No photos have been added yet.</p>
          <div class="col-xs-12 one-thumb" *ngFor="let photo of photos | async; let i = index">
            <!-- | orderBy:'version':true -->
            <!-- <a clHref={{photo.public_id}} format="jpg" target="_blank"> -->
                <cl-image
                        public-id={{photo.public_id}}
                        (mouseenter)="photo.isMouseOver = true"
                        (mouseleave)="photo.isMouseOver = false"
                        [attr.opacity]="photo.isMouseOver ? '50' : null"
                        class="mouse-pointer"
                        (click)="updateListLocation(i)"
                ><cl-transformation
                height="150" width="150" crop="fill" radius="20" background="#37373d"></cl-transformation>
                </cl-image>
                <!-- <h3 class="photo-title" *ngIf="photo.context">{{photo.context.custom.name}}</h3>
                <p class="text-center" *ngIf="photo.context">{{photo.context.custom.caption}}</p> -->
            <!-- </a> -->
        </div>
        <!-- <div class="col-xs-12">
            If you want some text down here, make sure it has this class.
        </div> -->
  </div>
</div>

<!-- TODO: Big bugs/features:
 - Upload multiple images.
 - Make cloudinary upload more secure.
 - Way to sell art and images.  (Use shopify lite - see if that works out.)
 - Different photography / art galleries.  (Needs dynamically generated pages or subpages.)
 - Change homepage code to apply blur/tint to parallax images so text is more legible.  (Have backup for old IE.)
 - Make whole website more compatible with IE7 & IE8 / Other browsers  (Backups for all opacity & rgba values, etc.)
 - Music page - add Collaborations section, with links to Aaron's site & iTunes
 - Move title and caption below art / photo
 - Google indexing? With hashtags or images / descriptions?
 - Publish to social media? (Look into Buffer.) - Publish to everything. (Faceook, Insta, Twitter, Soundcloud.)
 - Homepage - Have parallax image be latest image.
 - Email: LATER STAGE - make info@matthewfelton.com or similar as contact email.
 - News link before Bio link - brings you to Facebook blog page.
 - Look into a place that sells posters, cards, of art. (fineartamerica looks great. Zazzle as backup.)
 - Way to link to store page for each image?
 - Important update: Different galleries for photos.

 TODO: Small bugs/changes:
 - What happens when picture title or subtitle is too long?
 - Tooltips on upload page, about character lengths, etc.
 - Image deletion? Possibly more pain than it's worth. (Could give dad cloudinary access instead.)
 - Clean up homepage absolute text everywhere.
 - Make homepage title an image instead of text?
 - Remove pointless carousel code from photos & art pages.
 - Remove pointless old code from homepage.
 - Check photos & art pages to see if errors when no pictures exist. (Errors anyways...have scenario for no images.)
 - Make text & blur animate over the active image. (not that important unless client wants it.)

 TODO: BEFORE DEPLOYMENT:
 - Make SURE all files (cloudinary, mongoDB, etc.) files that need gitignore get it.

  TODO: NOTES: (Already dealt with, besides tooltips.)
  - Metadata can only be 1024 characters long. (Name & Caption)
  - Tags can only be 255 characters long. (Gallery name)



-->
