h3{
  margin-bottom: 2px;
}
h2{
  margin-bottom: 0px;
}
h5{
  margin-bottom: 0px;
}
.text_entered{
  display: inline-block;
  /* BELOW CODE: copy pasta that makes emails line break automagically. */
  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
.red{
  display: block;
  color:red;
  font-size: 20px;
  padding: 10px;
  border: 2px solid black;
  border-radius: 25px;
  background-color: rgba(227,227,227,0.9);
}
.green{
  display: block;
  color:green;
  font-size: 20px;
  padding: 10px;
  border: 2px solid black;
  border-radius: 25px;
  background-color: rgba(227,227,227,0.5);
}
.mainbox{
  display: inline-block;
  border: 2px solid black;
  background-color: rgb(181,208,230);
  text-align: left;
  width: 75%;
  height: auto;
  padding-left: 3%;
  padding-right: 3%;
  padding-bottom: 30px;
  margin-left: 10%;
  border-radius: 5px;
}
.header{
  display:inline-block;
  width: 100%;
  height: auto;
  text-align: left;
}
.header_text{
  width: 35%;
}
#login_name{
  width: 45%;
  padding-right: 10%;
}
.horiz_line{
  display: inline-block;
  background-color: black;
  height: 2px;
  width: 108%;
  margin-left: -4%;
}
.same_line{
  display: inline-block;
}
.align_center{
  text-align: center;
}
.align_right{
  text-align: right;
}
.align_button{
  margin-left: 70%;
}
.textarea{
  width: 90%;
  max-width: 90%;
}
.indent{
  margin-left: 5%;
}
.comment_indent{
  margin-left: 10%;
}
