<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Index</title>
    <!--In this context '~' refers to the wwwroot folder-->
    <link rel="stylesheet" href="~/css/style.css"/> 
  </head>
  <body>
    <form class="box" action="" method="post">
      <p>Random Word (attempt #@ViewBag.counter)</p>
      <p class="bigtext">@ViewBag.randomCode</p>
      <input type="submit" value="Generate">
    </form>
     <form class="box" action="/clear" method="post">
      <input type="submit" value="Reset Sessions">
    </form>
  </body>
</html>

