/*Write all of your CSS here*/
body{
    background: lightgrey;
}

.sameline{
    display: inline;
}

.mainbody{
    display: inline-block;
    border: 2px solid black;
    background-color: rgb(181,208,230);
    text-align: center;
    margin-top: 25px;
    width: 75%;
    height: auto;
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 20px;
    margin-left: 10%;
    border-radius: 5px;
}

.spacer{
    margin-top: 6px;
}
.spacer2{
    margin-top: 25px;
    padding: 7px;
}

table {
    margin-top: 25px;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 2px solid #000000;
    color: black;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
tr:nth-child(odd) {
    background-color: #aaaaaa;
}
tr:first-child{
    background-color: #777777;
}

/* Transferred CSS from my old wall. */
.text_entered{
    display: inline-block;
    /* BELOW CODE: copy pasta that makes emails line break automagically. */
    /* These are technically the same, but use both */
    overflow-wrap: break-word;
    word-wrap: break-word;

    -ms-word-break: break-all;
    /* This is the dangerous one in WebKit, as it breaks things wherever */
    word-break: break-all;
    /* Instead use this non-standard one: */
    word-break: break-word;
    /* Adds a hyphen where the word breaks, if supported (No Blink) */
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}
.red{
    display: block;
    color:crimson;
    font-size: 20px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 25px;
    background-color: rgba(227,227,227,0.9);
}
.green{
    display: block;
    color:green;
    font-size: 20px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 25px;
    background-color: rgba(227,227,227,0.5);
}
.mainbox{
    display: inline-block;
    border: 2px solid black;
    background-color: rgb(181,208,230);
    text-align: left;
    width: 80%;
    height: auto;
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 30px;
    padding-top: 10px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 50px;
    margin-bottom: 55px;
    border-radius: 5px;
}
.header{
    display:inline-block;
    width: 100%;
    padding-top: 10px;
    margin-bottom: 10px;
    height: auto;
    text-align: left;
}
.header_text{
    width: 35%;
    margin-right: 20%;
}
#login_name{
    width: 30%;
    margin-left: 15%;
    margin-right: 5%;
}
.horiz_line{
    display: inline-block;
    background-color: black;
    height: 2px;
    width: 108.2%;
    margin-left: -4%;
}

.align_center{
    text-align: center;
}
.align_right{
    text-align: right;
}
.align_button{
    margin-left: 70%;
}
.textarea{
    width: 40%;
    height: 40px;
    max-width: 70%;
    max-height: 200px;
}
.indent{
    margin-left: 5%;
}
.header_indent{
    margin-left: 30%;
}
.comment_indent{
    margin-left: 10%;
}
.long_lat_boxes{
    width: 120px;
}