<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Survey Form</title>
  </head>
  <body>
    <h1><b><u>Submitted Information</b></u></h1>
    <br>
    <p>Name: <%= myData.name %></p>
    <p>Dojo Location: <%= myData.location %></p>
    <p>Favorite Language: <%= myData.language %></p>
    <p>Comment: <%= myData.comment %></p>
  </body>
</html>
